@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    overflow: hidden;

}

.logo{
    width: 35rem;
    height: 50px;
    align-self: center;
    padding: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.logo>h1{
    margin-bottom: 1rem;
    margin-left: 5rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    display: flex;
    align-self: center;
    

}

.logo>h1:hover{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);    
    background-color: transparent;
   
   }
.navigation-bar{
    width: calc(100vw - 31rem);
    margin-right: 4rem;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    height: 5rem;
    margin-left: 10px;
    gap: 1.5rem;
    height: 40px;
    
}

.navigation-bar>button{
background-color: transparent; 
width: max-content;
font-weight: bold;
padding: 10px 15px;
border: none;
cursor: pointer;
font-size: 16px;

  
}
.navigation-bar>button:hover{
    color: black;
    border-bottom: 2px solid;
    border-color: #6819AB;
    /* box-shadow: 0px 4px 10px rgba(126, 34, 206, 0.4);  */

    
    
}
.navigation-bar>button:active{
    /* transform: translateY(-2px); */
    /* background-color: #e1f4ff; */
    border-bottom: 2.5px solid;
    border-color: #6819AB;

    
}