@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    
}

header{
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    overflow: hidden;

}
.logo{
    width: 35rem;
    height: 50px;
    align-self: center;
    padding: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.logo>h1{
    margin-bottom: 1rem;
    position: absolute;
    top: 21px;
    display: flex;
    align-self: center;

}
.navigation-bar{
    width: calc(100vw - 31rem);
    margin-right: 4rem;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    height: 5rem;
    margin-left: 10px;
    gap: 1.5rem;
    height: 40px;
    
}

.navigation-bar>button{
background-color: transparent; 
font-weight: bold;
padding: 10px 20px;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 16px;

  
}
.navigation-bar>button:hover{
    color: #E7F2F8;
    outline: 1.5px solid;
    box-shadow: 0px 4px 10px rgba(126, 34, 206, 0.4); 
    
    
}
.navigation-bar>button:active{
    /* transform: translateY(-2px); */
    background-color: #e1f4ff;
}


/* ********************************* */
main{
    height: calc(100vh - 100px);
    
   

}

.content{
    width: 80%;
    background-color: var(--first-color-lighter);
    padding: 50px;
    border-radius: 10px;
    margin-top: 40px;
}
.introLine1{
    
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: -0.55rem;
}
.introLine2{
    color: #800020;
    color: #ff5722;
    color: #d90429;
    color: #6a0dad;
    color: #7E22CE;
    
    
    font-size: 1.5rem;
    line-height: 2rem;
}

.introPara{
    width: 30rem;
    color: #6B7280;
    font-size: 16px;
   
}


.get-started {
    width: fit-content;
    background-color: #7E22CE; 
    color: white; 
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(126, 34, 206, 0.4); 
    

    }
    
.get-started:hover {
        background-color: #6819AB; 
        box-shadow: 0px 6px 15px rgba(126, 34, 206, 0.6); 
        transform: translateY(-2px); 
    }
    
.get-started:active {
        background-color: #5A0E99; 
        box-shadow: 0px 3px 8px rgba(126, 34, 206, 0.5);
        transform: translateY(0); 
    }

.main-image>img{
    height: 30rem;
    position: absolute;
    right: 10rem;
    top: 10rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.main-image>img:hover{
    box-shadow: 0px 0px 20px rgba(96, 107, 96, 0.8);
}